.app {
    width: 560px;
    border: 1px steelblue solid;
    border-radius: 5px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: steelblue;
}

.input {
  margin: 2rem 1rem 1rem 3rem;
}
